html {
    background: #1E1E3F;
}

table {
    background: #2D2B55;
}

p {
    color: #A599E9;
}

h1 {
    color: #9EFFFF;
}

a {
    text-decoration: none;
    color: #9EFFFF;
}

h2 {
    color: #B362FF;
}

h3 {
    color: #FB94FF;
}